@font-face {
    font-family: 'apex-new-bold';
    src: url('/_System/assets/fonts/apex-new/apexnew-bold-webfont');
    src: url('/_System/assets/fonts/apex-new/apexnew-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_System/assets/fonts/apex-new/apexnew-bold-webfont.woff2') format('woff2'),
         url('/_System/assets/fonts/apex-new/apexnew-bold-webfont.woff') format('woff'),
         url('/_System/assets/fonts/apex-new/apexnew-bold-webfont.ttf') format('truetype'),
         url('/_System/assets/fonts/apex-new/apexnew-bold-webfont.svg#apex-new-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apex-new-book';
    src: url('/_System/assets/fonts/apex-new/apexnew-book-webfont.eot');
    src: url('/_System/assets/fonts/apex-new/apexnew-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_System/assets/fonts/apex-new/apexnew-book-webfont.woff2') format('woff2'),
         url('/_System/assets/fonts/apex-new/apexnew-book-webfont.woff') format('woff'),
         url('/_System/assets/fonts/apex-new/apexnew-book-webfont.ttf') format('truetype'),
         url('/_System/assets/fonts/apex-new/apexnew-book-webfont.svg#apex-new-book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'meta-serif-book';
    src: url('/_System/assets/fonts/ff-meta-serif/MetaSerifWebBook.eot');
    src: url('/_System/assets/fonts/ff-meta-serif/MetaSerifWebBook.eot?#iefix') format('embedded-opentype'),
         url('/_System/assets/fonts/ff-meta-serif/MetaSerifWebBook.woff2') format('woff2'),
         url('/_System/assets/fonts/ff-meta-serif/MetaSerifWebBook.woff') format('woff'),
         url('/_System/assets/fonts/ff-meta-serif/MetaSerifWebBook.ttf') format('truetype'),
         url('/_System/assets/fonts/ff-meta-serif/MetaSerifWebBook.svg#meta-serif-book') format('svg');
    font-weight: normal;
    font-style: normal;
}